/***** css ****/


span.teos, span.taho {
	position: absolute;
	top: 50px;
    width: 500px;
    margin: 0 0;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
}

label {
      padding-top: 6px;
    	font-weight: bold;
    }

.checkbox-inline label {
  	padding-top: 3px;
  	font-weight: normal;
	}

.glyphicons-plus-sign:before {
	content: '\2295';
	font-size: 150%
}

.glyphicons-minus-sign:before {
	content: '\2297';
	font-size: 150%

}

.alert#OK {
	position: fixed;
	left: 50%;
	top: 200px;
	z-index: 999;
	padding: 20px;
	opacity: 0.8;
	display: none;
}

ul.typeahead {
	border: 1px solid #000;
}

ul.typeahead li {
	list-style-type: none;
}